body {
    background: url('/images/background_3.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.panel > .panel-heading{
    background-color:#0f0f0a;
    border-color:#0f0f0a;
}
.panel {
    border-color:#0f0f0a;
}
